body {
    color: white;
    background-color: #000000;
}

span{
    font-size: 2rem;
    text-align: right;
}

div{

}
.btn {
    border-radius: 100px;
    margin: 0.4em;
}

.op {
    background-color: #ff9203;
    color: white;
    border: none;
}

.num {
    background-color: #333333;
    color: white;
    border: none;
}

.cancelbtn {
    background-color: #a6a6a6;
    color: white;
    border: none;
}

.featurebtn {
    background-color: black;
    border: none;
}

/* couleur op orange #FF9203 sur fond blanc & num gris #333333 sur fond blanc */