body {
    background-color: #000000;
}

.text-white {
    color: white;
}

.screen {
    height: 2rem;
}

.reset {
    color: #000000;
}

.result-size {
    font-size: 2rem;
}

.btn {
    border-radius: 100px;
    margin: 0.4em;
}

.op {
    background-color: #ff9203;
    color: white;
    border: none;
}

.num {
    background-color: #333333;
    color: white;
    border: none;
}

.cancelbtn {
    background-color: #a6a6a6;
    color: black;
    font-weight: bold;
    border: none;
}

/* couleur op orange #FF9203 sur fond blanc & num gris #333333 sur fond blanc */